/**
 * Font faces for L'Atelier Kiyose
 * 
 * Fonts: Lora (serif) and Nunito (sans-serif)
 * Self-hosted for GDPR compliance
 */

/* Lora Regular */
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/lora-v37-latin-regular.woff2') format('woff2'),
	     url('../fonts/lora-v37-latin-regular.woff') format('woff');
}

/* Lora Bold */
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/lora-v37-latin-700.woff2') format('woff2'),
	     url('../fonts/lora-v37-latin-700.woff') format('woff');
}

/* Lora Italic */
@font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/lora-v37-latin-italic.woff2') format('woff2'),
	     url('../fonts/lora-v37-latin-italic.woff') format('woff');
}

/* Nunito Regular */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/nunito-v32-latin-regular.woff2') format('woff2'),
	     url('../fonts/nunito-v32-latin-regular.woff') format('woff');
}

/* Nunito SemiBold */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/nunito-v32-latin-600.woff2') format('woff2'),
	     url('../fonts/nunito-v32-latin-600.woff') format('woff');
}

/* Nunito Bold */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/nunito-v32-latin-700.woff2') format('woff2'),
	     url('../fonts/nunito-v32-latin-700.woff') format('woff');
}
