/**
 * Font faces for L'Atelier Kiyose
 *
 * Fonts: Caveat (handwritten), MK Abel (sans-serif), and Nunito (sans-serif)
 * Self-hosted for GDPR compliance
 */

/* Nunito Regular */
@font-face {
	font-display: swap;
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/nunito-v32-latin-regular.woff2') format('woff2'),
	     url('../fonts/nunito-v32-latin-regular.woff') format('woff');
}

/* Nunito SemiBold */
@font-face {
	font-display: swap;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/nunito-v32-latin-600.woff2') format('woff2'),
	     url('../fonts/nunito-v32-latin-600.woff') format('woff');
}

/* Nunito Bold */
@font-face {
	font-display: swap;
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/nunito-v32-latin-700.woff2') format('woff2'),
	     url('../fonts/nunito-v32-latin-700.woff') format('woff');
}

/* ============================================
   NOUVELLES POLICES - Caveat & MK Abel
   ============================================ */

/* Caveat Regular - Titres */
@font-face {
	font-display: swap;
	font-family: Caveat;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/caveat-v21-latin-regular.woff2') format('woff2'),
	     url('../fonts/caveat-v21-latin-regular.woff') format('woff');
}

/* Caveat Bold - Titres emphase */
@font-face {
	font-display: swap;
	font-family: Caveat;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/caveat-v21-latin-700.woff2') format('woff2'),
	     url('../fonts/caveat-v21-latin-700.woff') format('woff');
}

/* MK Abel Regular - Menu de navigation */
@font-face {
	font-display: swap;
	font-family: 'MK Abel';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/mkabel-v1-latin-regular.woff2') format('woff2'),
	     url('../fonts/mkabel-v1-latin-regular.woff') format('woff');
}
