services:
  db:
    image: mariadb
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpress
      MYSQL_DATABASE: rkcxncpkiyose
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
  phpmyadmin:
    image: phpmyadmin
    restart: always
    depends_on:
      - db
    expose:
      - "40001"
    ports:
      - "40001:80"
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - UPLOAD_LIMIT=300M

  wordpress:
    depends_on:
      - db
    image: wordpress:php8.3
    volumes:
      - ./latelierkiyose:/var/www/html/wp-content/themes/latelierkiyose
      - ./uploads:/var/www/html/wp-content/uploads
    ports:
      - '8000:80'
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: rkcxncpkiyose
      WORDPRESS_TABLE_PREFIX: wp_akiy_
volumes:
  db_data: { }
