<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
	bootstrap="latelierkiyose/tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true">

	<testsuites>
		<testsuite name="Theme Test Suite">
			<directory prefix="Test_" suffix=".php">latelierkiyose/tests</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">latelierkiyose</directory>
		</include>
		<exclude>
			<directory>latelierkiyose/tests</directory>
			<directory>latelierkiyose/vendor</directory>
		</exclude>
	</source>
</phpunit>
